// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// top level css to override ionic 2 css
.main-list {
  button[submenu] {
    display: block;
    overflow: hidden;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform .1s linear, max-height 0s .1s linear;
    background-color: white;
    padding: 0 0 0 25px;
    font-size: 1.6rem;
    font-weight: normal;
    border-bottom: 1px solid #dedede;
    text-align: left;
    &.visible {
      max-height: 9999px;
      transform: scaleY(1);
      transition: transform .1s linear, max-height 0s linear;
      padding: 13px 0 13px 0px;
      margin-left: 25px;
      width: 100%;


    }
  }
}

.study-dropdown {
  height: 160px;

  & .popover-content {
    margin-top: 38px;
    //margin-left: -14px;
    width: 100px;
  }

  & ion-list {
    margin-bottom: 0px;
  }

  & ion-backdrop {
    padding: 100%;
  }
}


