<ion-menu [content]="content" type="overlay" (ionClose)="menuClosed()">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{appService.isTraditional? "項目列" : "项目列" }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="main-list">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{appService.isTraditional ? p.title: p.titleSimplified}}
      </button>

      <!-- practice master -->
      <button class="clickable" ion-item (click)="practiceMenuHandler()">{{appService.isTraditional? "學習" : "学习" }}</button>
      <button submenu [class.visible]="showSubmenu" menuClose *ngFor="let studyPage of studyPages" (click)="openPage(studyPage)" class="clickable">
        {{appService.isTraditional ? studyPage.title : studyPage.titleSimplified}}
      </button>

      <button menuClose ion-item (click)="openPage(contactPage)">
        {{appService.isTraditional ? contactPage.title : contactPage.titleSimplified}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
