.clickable {
  cursor: pointer;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.text-align-center{
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.color-danger {
  color: #d9534f !important;
}

.color-success {
  color: #449d44 !important;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-16{
  font-size: 16px;
}
