<!--
  Generated template for the TestsTheoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="responsive-small-screen">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="shared-title-padding">{{appService.isTraditional ? "理論模擬測驗": "理论模拟测验"}} ({{currentTheoryTest.no}}/36)</ion-title>
  </ion-navbar>

  <ion-navbar class="text-align-right responsive-big-screen">
    <ion-title class="shared-title-big-screen">{{appService.isTraditional ? "理論模擬測驗": "理论模拟测验"}} ({{currentTheoryTest.no}}/36)</ion-title>

    <button ion-button outline (click)="openHome()">
      <ion-icon name="home"></ion-icon>
      &nbsp;{{appService.isTraditional ? "主頁" : "主页"}}
    </button>
    <button ion-button outline>
      <ion-icon name="clipboard"></ion-icon>
      &nbsp;{{appService.isTraditional ? "模擬測驗" : "模拟测验"}}
    </button>
    <button ion-button outline (click)="presentPopover($event)">
      <ion-icon name="book"></ion-icon>
      &nbsp;{{appService.isTraditional? "學習" : "学习" }}
    </button>
    <button ion-button outline (click)="openContact()">
      <ion-icon name="information-circle"></ion-icon>
      &nbsp;{{appService.isTraditional ? "聯絡我們" : "联络我们"}}
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding *ngIf="!appService.finishedTheoryTest">
    <p class="font-size-16">{{currentTheoryTest.no}}. {{currentTheoryTest.question}}</p>
    <div *ngIf="currentTheoryTest.hasSign" class="text-align-center"><img [src]="'../../assets/signs/' + currentTheoryTest.signName" height="120" width="120" /></div>
    <ion-list radio-group [(ngModel)]="currentTheoryTest.userAnswer">

      <ion-item *ngFor="let choice of currentTheoryTest.choices | keyValues; let i = index" class="page-tests-theory-large-padding">
        <ion-label text-wrap *ngIf="i === 0" [ngClass]="{'color-success': appService.firstCorrect, 'color-danger': appService.firstIncorrect}">a. {{choice.value}}</ion-label>
        <ion-label text-wrap *ngIf="i === 1" [ngClass]="{'color-success': appService.secondCorrect, 'color-danger': appService.secondIncorrect}">b. {{choice.value}}</ion-label>
        <ion-label text-wrap *ngIf="i === 2" [ngClass]="{'color-success': appService.thirdCorrect, 'color-danger': appService.thirdIncorrect}">c. {{choice.value}}</ion-label>
        <ion-radio [value]="choice.key" [disabled]="appService.hasAnswered" (click)="loadView(i)"></ion-radio>
      </ion-item>
    </ion-list>
  </div>

  <div padding class="text-align-center" *ngIf="appService.isTraditional && appService.finishedTheoryTest && !appService.finishedAllTests && !appService.hasSeenTheFirstResult">
    <p>36題理論總結: </p>
    <p>正確: {{appService.correctTheoryAnswerCount}}.</p>
    <p>錯誤: {{36 - appService.correctTheoryAnswerCount}}.</p>
    <ion-buttons>
      <button ion-button color="primary" (click)="startSignTest()">開始圖標題</button>
    </ion-buttons>
  </div>

  <div padding class="text-align-center" *ngIf="appService.isTraditional && appService.finishedAllTests">
    <p>48題模擬測驗總結: </p>
    <p>正確: {{appService.correctSignAnswerCount + appService.correctTheoryAnswerCount}}</p>
    <p>錯誤: {{48 - appService.correctSignAnswerCount - appService.correctTheoryAnswerCount}}.</p>

    <p>36題理論題: </p>
    <p>正確: {{appService.correctTheoryAnswerCount}}.</p>
    <p>錯誤: {{36 - appService.correctTheoryAnswerCount}}.</p>

    <p>12題圖標題: </p>
    <p>正確: {{appService.correctSignAnswerCount}}.</p>
    <p>錯誤: {{12 - appService.correctSignAnswerCount}}.</p>

    <ion-buttons>
      <button ion-button color="primary" (click)="resetAllTests()">重新開始</button>
    </ion-buttons>

  </div>

  <div padding class="text-align-center" *ngIf="!appService.isTraditional && appService.finishedTheoryTest && !appService.finishedAllTests && !appService.hasSeenTheFirstResult">
    <p>36题理论总结: </p>
    <p>正确: {{appService.correctTheoryAnswerCount}}.</p>
    <p>错误: {{36 - appService.correctTheoryAnswerCount}}.</p>
    <ion-buttons>
      <button ion-button color="primary" (click)="startSignTest()">开始图标题</button>
    </ion-buttons>
  </div>

  <div padding class="text-align-center" *ngIf="!appService.isTraditional && appService.finishedAllTests">
    <p>48题模拟测验总结: </p>
    <p>正确: {{appService.correctSignAnswerCount + appService.correctTheoryAnswerCount}}</p>
    <p>错误: {{48 - appService.correctSignAnswerCount - appService.correctTheoryAnswerCount}}.</p>

    <p>36题理论题: </p>
    <p>正确: {{appService.correctTheoryAnswerCount}}.</p>
    <p>错误: {{36 - appService.correctTheoryAnswerCount}}.</p>

    <p>12题图标题: </p>
    <p>正确: {{appService.correctSignAnswerCount}}.</p>
    <p>错误: {{12 - appService.correctSignAnswerCount}}.</p>

    <ion-buttons>
      <button ion-button color="primary" (click)="resetAllTests()">重新开始</button>
    </ion-buttons>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="text-align-center">
        <button *ngIf="!appService.finishedAllTests" ion-button color="primary" (click)="resetTestSet()" class="float-left">
          <div>
          <ion-icon name="refresh"></ion-icon>
            <label class="page-tests-icon-label">{{appService.isTraditional ? "重新開始" : "重新开始"}}</label>
          </div>
        </button>
        <!--<button ion-button *ngIf="!appService.finishedTheoryTest" [disabled]="!currentTheoryTest.userAnswer || appService.hasAnswered" (click)="confirmUserAnswer()" color="primary" class="font-size-20">-->
          <!--<div>-->
            <!--<ion-icon name="checkmark-circle"></ion-icon>-->
            <!--<label class="page-tests-icon-label">確認</label>-->
          <!--</div>-->
        <!--</button>-->

        <button *ngIf="!appService.isLastQuestion && !appService.finishedTheoryTest" ion-button [disabled]="!appService.hasAnswered" color="primary" (click)="goNextQuestion()" class="float-right">
          <div>
            <ion-icon name="arrow-round-forward"></ion-icon>
            <label class="page-tests-icon-label">{{appService.isTraditional ? "下一題" : "下一题"}}</label>
          </div>
        </button>

        <button *ngIf="appService.isLastQuestion && !appService.finishedTheoryTest" ion-button [disabled]="!appService.hasAnswered" color="primary" (click)="viewTheoryResult()" class="float-right">
          <div>
            <ion-icon name="exit"></ion-icon>
            <label class="page-tests--icon-label">{{appService.isTraditional ? "看結果" : "看结果"}}</label>
          </div>
        </button>


    </ion-buttons>
  </ion-toolbar>
</ion-footer>
